.github
.husky
.vscode
jackett
src
node_modules
traefik
.eslintignore
.eslintrc.js
.gitignore
.prettierrc
.gitattributes
docker-compose-traefik.yml
esbuild.js
install.sh
jsconfig.json
LICENSE
README.md
cache.db
docker-compose.yml
scraper
config.json
data/